<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ site.Title }}</title>

    <!-- Meta -->
    {{ if eq .Kind "page" }}
    <meta name="description" content="{{ .Summary }}" />
    <meta name="author" content="{{ .Params.Author | default site.Author.name }}" /> {{ else }}
    <meta name="description" content="{{ site.Params.description }}" />
    <meta name="author" content="{{ site.Author.name }}" /> {{ end }} {{- partial "head-extra.html" . -}}

    <link rel="stylesheet" href="{{ "css/style.css" | relURL}}">
    <link rel="stylesheet" href="{{ "css/syntax.css" | relURL}}">

</head>